<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Offline</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  </head>
  <body>
    <div class="container text-center mt-5">
      <h1>your deaD</h1>
      <p>This app requires an internet connection to function.</p>
      <p>Please check your connection and try again.</p>
      <button onclick="window.location.reload()" class="btn btn-primary mt-3">
        Retry
      </button>
    </div>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
